<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>
<div class="container">
  <p class="text-center"><strong>REGISTER </strong></p>
  <mat-form-field>
    <input matInput placeholder="Serial Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Facility Id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Network">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Plate">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Structure Type">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Structure Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Latitude">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Longitude">
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="register()">Submit</button>
  </div>
</div>
